/* @media (max-width: 320px) {
    .navbar-links {
        display: none;
    }
} */


@media (max-width: 1024px) {
	
	.social-icons, .menu-ul {
		display: none;
	}
	.burger-icon {
		display: block;
	}
}
.left-block {
	margin-bottom: 30px;
}

.block-img {
	margin-bottom: 30px;
}

.video-wraper {
	justify-content: center;
}
.container {
	padding: 0 30px;
}

@media (max-width: 540px) {
	.groups{
		height: auto;
	}
	@media (max-width :335px) {
		.bg_image {
			height: auto;
		} 
	

	
		@media (max-width :1336px) {
			.section3-bg {
				height: auto;}

				
				@media (max-width: 1130px){
					.wrapper, 
					ul{
					  display: block;
					  

					}   
					.nav-a{
					  display: block;
					  outline: none;
					  
					}  
					.burger-icon{
					  color: #fff;
					  display: block;
					  font-size: 30px;
					  position: absolute;
					  top: 40px;
					  right: 30px;
					  cursor:pointer;
					}
					
					
				
					.menu-ul.open-menu{
					  display: block;}
					
					  @media (max-width :917px) {
					  .big-image {
						height: auto;
						margin-bottom: 30px;
					  }
					

						  .left_block {
							  margin-bottom: 30px;
						  }

						  